
<!DOCTYPE html>
<html>
<head>
	<title>Delete campaign</title>
	<link rel="stylesheet" type="text/css" href="/abc/css/style.css">
</head>
<body>
	

<h1 style="green"> Delete campaigns </h1>


		<fieldset>
			<legend>delete campaigns</legend>
			<form method="POST">
			<table>
				<tr>
					<td>campaign id</td>
					<td><input type="number" name="id"></td>
				</tr>
				<tr>
					<td>Target_fund</td>
					<td><input type="number" name="target_fund"></td>
				</tr>
				<tr>
					<td>Raised_fund</td>
					<td><input type="number" name="raised_fund"></td>
				</tr>
				<tr>
					<td>ctype</td>
					<td><input type="text" name="ctype"></td>
				</tr>
				<tr>
					<td>description</td>
					<td><input type="text" name="description"></td>
				</tr>
				<tr>
					<td>Publish date</td>
					<td><input type="text" name="Publish_date"></td>
				</tr>
				<tr>
					<td>endDate</td>
					<td><input type="text" name="endDate"></td>
				</tr>
				<tr>
					<td>status</td>
					<td><input type="number" name="status"></td>
				</tr>
				<tr>
					<td>Title </td>
					<td><input type="text" name="title"></td>
				</tr>

				<tr>
					<td>Image </td>
					<td>  <input type="file" id="img" name="img" ></td>
				</tr>

				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Submit"></td>
				</tr>
			</table>
		</fieldset>
	</form>

<!-- 
<a href="/home/userlist">User list</a>  -->
	<!-- <a href="/user/create">Create User</a> | 
	| 
	<a href="/logout">logout</a -->

</body> 
</html>
