<!DOCTYPE html>
<html>
<head>
	<title>Add Campagin</title>
</head>
<body>
	<% if(typeof alert != 'undefined') { %>
    <% alert.forEach(function(error) { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= error.msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
    <% }) %>
<% } %>
	<form  action="/campaign/addcampaign" method="post"  enctype="multipart/form-data">
		<fieldset>
			<legend>Add Campagin</legend>
			<table>
				<tr>
					<td>Title</td>
					<td><input type="text" name="title"></td>
				</tr>
				<tr>
					<td>Discription</td>
					<td><input type="text" name="description"></td>
				</tr>
				<tr>
					<td>Target Fund</td>
					<td><input type="text" name="targetfund"></td>
				</tr>
				<tr>
					<td>Published Date</td>
					<td><input type="text" name="publisheddate"></td>
				</tr>
				<tr>
					<td>End Date</td>
					<td><input type="text" name="enddate"></td>
				</tr>
				<tr>
					<td>Image</td>
					<td><input type="file" name="image"></td>
				</tr>

				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Submit"></td>
				</tr>
			</table>
		</fieldset>
	</form>
	<a href="/personalhome">Back</a>
</body>
</html>